//try Demo line 174
.fromPages{ 
	.GlobalFlexWrap{
		@media (max-width:790px) {
			flex-flow: column;
		}
	}
	.GlobalContainer{
		padding: 1.7em 9vw;

		@media (max-width:1090px) {
			padding: 1.7em 6vw;
		}
	}
	.leftColumn{
		@media (max-width: 960px){
			width: 40%;
		}
		@media (max-width:790px) {
			width: 100%;
		}
		.imagefroms{
			background: url(../images/banerLeft-Q.png) center center no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			height: 39rem;

			@media (max-width: 1160px){
				height: 26rem;
			}
			@media (max-width: 780px){
				margin-top: 29px;
			}
			@media (max-width: 700px){
				height: 20rem;
				margin-top: 29px;
			}
		}
	}
	.rightColumn{
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding-left: 35px;

		@media (max-width: 960px){
			width: 60%;
		}
		@media (max-width:790px) {
			width: 100%;
			padding: 0;
		}
		h2{
			font-size: 36px;

			@media (max-width: 960px){
				font-size: 28px;

				&::after{
					font-size: 12px;
				}
			}

			&::after{
				content: "If you would like to monetise your audiences, please fill out the form.";
				font-size: 14px;
				display: block;
				font-weight: 100;
			}
		}
		.wrapForm{
			margin-top: 36px;

			@media (max-width: 960px){
				margin-top: 10px;

			}

			h3{
				font-weight: 400;
				margin-bottom: 2px;
			}
			input, textarea{
				width: 100%;
				color: $violet;
				margin: 7px 0;
				background-color: #281167;
				border: 0;
				height: 2.5rem;
				border-radius: 7px;
				padding: 7px 19px;

				@media (max-width: 545px) {
					height: auto;
					padding: 10px 19px;
				}
			}
			::placeholder{
				text-align: center;
				font-weight: 500;
				font-size: 17px;
				opacity: 1;
			}
			textarea{
				max-width: 100%;
				min-width: 100%;
				min-height: 5rem;
				max-height: 5rem;

				&::placeholder{
					text-align: left;
				}
			}
			.wrapTwoInput{
				display: flex;

				@media (max-width:435px) {
					display: block;
				}

				input{
					&:last-child{
						margin-left: 1rem;	
						
				@media (max-width:435px) {
					margin: 0;
				}
					}
				}
			}
			.spaceLinear{
				background-color: $violet;
				width: 100%;
				height: 1px;
				display: block;
				margin: 8px 0;
			}
			.TwoStylesInputs{
				background-color: transparent;
				border: 2px solid $violet;
			}
			.buttonFrom{
				background-color: $violet;
				color: $white;
				font-weight: bold;
				font-size: 18px;
				cursor: pointer;
				transition: background-color $trans;

				&:hover{
					transition: background-color $trans;
					background-color: $violetTwo;
				}
			}
		}
	}
	.wrapchecbox{
		position: relative;
		display: flex;
		align-items: center;
		margin: 2px 0 3px 0;
		height: 40px;

		@media (max-width:435px) {
			margin: 2px 0 19px 0;
		}

		input[type="checkbox"] {
			width: 40px !important; 
			height: 40px !important; 
			position: absolute; 
			z-index: 1; 
			opacity: 0; 
			margin:0 !important; 
			padding: 0;
			cursor: pointer;
			
		}
		input[type="checkbox"]:checked + .checkbox {
			display: flex;
			justify-content: center;
			align-items: center;
	
			&::after{
				content: "ok";
			}
		}
		.checkbox{
			position:absolute; 
			width: 40px; 
			height: 40px; 
			background-color: #281167; 
			z-index: 0;
			border-radius: 5px;
		}
		.regulamnins{
			font-size: 9px;
			font-weight: 100;
			padding-left: 52px;
			color: $violetTwo;
		}
	}
}
.TryDemo{
	.leftColumn{
		padding-left: 39px;

		@media (max-width:790px) {
			padding: 0;
		}
		.imagefroms{
			background: url(../images/baner-A.png) center center no-repeat;
			background-size: contain;
			background-position: 50% 50%;
		}
	}
	.rightColumn{
		padding: 0;
		h2{
			&::after{
				content: "Discover all the affilleo features and tutorials";
			}
		}
	}
}