#homePage{
	background: url(../images/bacground.png) center center no-repeat;
	background-size: 100% 100%;
	height: 100vh;

	&.GlobalContainer{
		padding: 1.7em 6vw;
	}
	.GlobalFlexWrap {
		padding-top: 1.5rem;
	}
	#masterHeader {
		display: flex;
		justify-content: space-between;

		@media (max-width:600px) {
			flex-flow: column;			
		}

		.WrapLeftElements-H{
			display: flex;

			@media (max-width:600px) {
				width: 100%;		
			}

			#logoMaster{
				transition: transform $trans;

				&:hover, &:focus{
					transform: translateY(-1px) scale(.9);
					transition: transform $trans;
				}

				img{
					width: auto;
					height: 4rem;
					padding-right: 1.8rem;
				}
			}
			#MasterNav{
				.wrapMasterLI {
					padding-bottom: 4px;

					li{
						display: inline-block;
						padding: 0 4px;
						font-size: 15px;
					}
				}
			}
		}
		.WrapRightElements-H{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@media (max-width:600px) {
					width: 100%;
			}
			.wrapLogoStyles {
				display: flex;
				flex-flow: column;
				align-items: flex-end;
				position: relative;
				top: 10px;

				.loginStyles{
					background-color: $backgroundViolet;
					border: 1px solid $violetTwo;
					border-radius: 24px;
					padding: 6px 14px;
					margin: 0 5px;
					color: $white;
					transition: background-color $trans;
					
					@media (max-width:600px) {
						padding: 6px 10px;
					}
					&::placeholder{
						text-align: right;
						color: $violetTwo;
						transition: opacity $trans;
					}
					&:hover{
						transition: background-color $trans;
						background-color: transparent;
	
						&::placeholder{
							transition: opacity $trans;
							opacity: 1;
						}
					}
				}
				.resetStats {
					color: $blue;
					padding-right: 7px;
					position: relative;
					top: 3px;
					font-size: 12px;
					transition: color $trans;

					&:hover{
						transition: color $trans;
						color: $violetTwo;
					}
				}
			}
			.loginButton{
				background-color: $orange;
				border: 0;
				color: $white;
				border-radius: 100%;
				font-weight: bold;
				font-size: 17px;
				cursor: pointer;
				text-align: center;
				padding: 9px;
				margin-left: 6px;
				transition:background-color  $trans;

				@media (max-width:800px) {
					
				}
				&:hover{
					background-color: $violet;
					transition:background-color  $trans;
				}
			}
		}
	}
	.leftElements{
		width: 30%;
		padding-right: 34px;

		img{
			width: 100%;
		}
		h2{
			font-size: 35px;
			font-weight: 500;

			&::after{
				content: "Social gambling tool";
				font-size: 19px;
				display: block;
			}
		}
		:nth-child(3){
			height: 5rem;
			width: 40%;
			margin-bottom: 1.5rem;
		}
	}
	.centerElements{
		width: 45%;
		position: relative;

		.imageCenter{
			background: url(../images/baner.png) center center no-repeat;
			background-size: contain;
			height: 37vw;
		}
		.readMoreButton {
			background-color: $backgroundViolet;
			border: 2px solid $violetTwo;
			border-radius: 12px;
			padding: 7px 28px;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	.rightElements{
		width: 25%;
		padding-left: 20px;
	}
}
