//Navigation
mixin navigationsItems(id, arr)
	ul(class=id)
		each a in arr
			a(href=a[0])
				li= a[1]

+navigationsItems('wrapMasterLI', [
	['education.html','About'],
	['https://affilleo.com/blog/', 'Education'],
	['TryDemo.html', 'Try Demo'],
	['https://ligmann.eu/', 'Company'],
	['influencer.html', 'Are you an influencer'],
	['https://ligmann.eu/', 'Contact'],
])