nav#masterNav
	div.topNav
		div.leftContent
			a(href="main.html").wrapLogoTop
				img(src="images/logoLeft.png" alt="logo affileo")
				span.logoLinear
				img(src="images/logoRight.png" alt="logo affileo")
			input(type="text" placeholder="Search").search
		div.bottomnav
			div.WrapburgerRwd
				span.burgerItemRwd
			div.burgermenu()
				include mixin.pug