-
	var Title = 'Education';
doctype html
html
	head
		include template_parts/head.pug
	body
		main(type="main")#homePage.GlobalContainer
			header#masterHeader
				div.WrapLeftElements-H
					a(href="main.html")#logoMaster
						img(src="images/one-F.png" alt="masterLogo")
					nav.bottomnav#MasterNav
						div.WrapburgerRwd
							span.burgerItemRwd
						div.burgermenu()
							include template_parts/mixin.pug
				form(action="").WrapRightElements-H
					span.wrapLogoStyles
						input(type="text" placeholder="Login").loginStyles
						a(href="https://ligmann.eu/").resetStats Become a Lead
					span.wrapLogoStyles
						input(type="password" placeholder="Password").loginStyles
						a(href="https://ligmann.eu/").resetStats Forget password
					input(type="submit" value="GO").loginButton
			section.GlobalFlexWrap
				div.leftElements
					img(src="images/logoBaner.png", alt="")
					h2 WORLD'S LEADING
					img(src="images/three-J.png", alt="")
					img(src="images/eight-B.png", alt="")
				div.centerElements
					div.imageCenter
					a(href="#").readMoreButton Read More
				div.rightElements
					div.wrapTable
						div.childWrap
							h2.hedaderTable Top Afifliate
							div.columnsTable
								div.firstTable.allStylesTable
									| Barnaba
								div.lastTable.allStylesTable
									| Wiola24
								div.firstTable.allStylesTable
									| Jachu
								div.lastTable.allStylesTable
									| BigCard
								div.firstTable.allStylesTable
									| Patryk92
								div.lastTable.allStylesTable
									| Onamoatopej
								div.firstTable.allStylesTable
									| Rajs
								div.lastTable.allStylesTable
									| SuperMario
								div.firstTable.allStylesTable
									| Kali
								div.lastTable.allStylesTable
									| OnePokers
								div.firstTable.allStylesTable
									| Radzesz
								div.lastTable.allStylesTable
									| Momoch
								div.firstTable.allStylesTable
									| Sam2324
								a(href="#").buttonTable Learn How
								a(href="#").buttonTable Try Demo
			section#bottomMain
				div.leftColumn
					div.allStyles-LeftColumn
						div(style="border-right: none;").img-leftColumn
						h6 Trust
						p Our company is <br /> fully regulated <br />by the FCA <br /> and CySec
					div.allStyles-LeftColumn
						div.img-leftColumn
						h6 Security
						p Your funds are <br /> protected by <br /> ondustry-leading <br /> security protocols
					div.allStyles-LeftColumn
						div.img-leftColumn
						h6 Privacy
						p We will never <br /> share your private <br /> data without <br /> your permission
						a(href="#") Read more
				div.rightColumn
					div.leftItems-bm
						div.headerItems-bm
							span.headerRight-bm
								p Deposit
								p From € 39
							span.headerRight-bm
						div.bottom-bm
							div.itemsOne-bm
								h5 COMMISSION
							div.itemsTwo-bm
								div.ElementsItemsThere-bm
									span.PositionsNumber
										sub 1
										sup st 
									span.namberElement
										p 5%
								div.ElementsItemsThere-bm
									span.PositionsNumber
										sub 2
										sup nd 
									span.namberElement(style="background-color:#2d1473;")
										p 2.5%
								div.ElementsItemsThere-bm
									span.PositionsNumber
										sub 3
										sup rd 
									span.namberElement
										p 1.25%
					div.rightItems-bm
						div.headerItems-bm
							span.headerRight-bm
								p Deposit
								p From € 99
							span.headerRight-bm
						div.bottom-bm
							div.itemsOne-bm
								h5 COMMISSION
							div.itemsTwo-bm
								div.ElementsItemsThere-bm
									span.PositionsNumber
										sub 1
										sup st 
									span.namberElement(style="background-color:#2d1473;")
										p 10%
								div.ElementsItemsThere-bm
									span.PositionsNumber
										sub 2
										sup nd 
									span.namberElement(style="background-color:#281167")
										p 5%
								div.ElementsItemsThere-bm
									span.PositionsNumber
										sub 3
										sup rd 
									span.namberElement(style="background-color:#2d1473;")
										p 2.5%
			section#footerPage
				div.logo
					img(src="images/five-C.png", alt="logo footer")
				div.contentfooter
					img(src="images/banerBottom.png", alt="baner bottom")
					//- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consectetur iusto quia nobis deserunt est repellat repellendus nemo sequi assumenda unde dolorem, ut harum distinctio odio enim commodi esse illum. 
					//- 	| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptates expedita doloremque. Sit ad ipsa dolorem ipsum. Nihil aut, eveniet debitis ullam, at doloribus quidem accusamus enim, quas cum obcaecati?
					//- 	| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore veniam architecto reprehenderit est aliquam odit ab quidem. Sed, ipsa, accusantium mollitia culpa beatae odit fuga incidunt a quam dolores possimus.
				div.rgightfooterIcons
					a(href="").facebook
					a(href="").instagram
			footer
				a(href="https://ligmann.eu/", target="_blank") Created by | Damian Ligmann