//variables
$violet:#6131f8d6;
$violetTwo:#6131f7;
$backgroundViolet:#1e0d4d;
$white:#ffff;
$orange:#f2b36f;
$blue:#0396f9;
$trans: .2s linear;

//mixin import all styles to body/_reset
@mixin bodyStyles {
	background-color: $backgroundViolet;
	color:$white;
	font-family: 'Oswald', ;
	overflow-x: hidden;

	h2{
		margin-bottom: 5px;
		font-size: 20px;
	}
	p{
		font-weight: 100;
		font-size: 15px;
	}
}
//mixin burger rwd
@mixin burgerMenu ($topLinear){
	width: 3rem;
	height: 4px;
	background-color: $violet;
	position: absolute;
	top: $topLinear;
	border-radius: 126px;
}
@mixin actionsBurger($rotateLinear){
	transition: background-color linear .4s, transform linear .4s;
	background-color: $white;
	transform:rotate($rotateLinear);
}
//fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap');

//global Class
.GlobalContainer{
	padding: 1.7em 12vw;
	padding-bottom: 0;
	@media (max-width:1100px){
		padding: 1.7em 4em;
	}

	@media (max-width:887px){
		padding: 1.7em 2em;
	}
}
.GlobalFlexWrap{
	display: flex;
	padding-top: 3.5rem;

	@media (max-width: 585px){
		flex-flow: column;
	}
}
.leftColumn, .rightColumn{
	width: 50%;

	@media (max-width: 585px){
		width: 100% !important;
	}
}
.boxText{
	h2 {
		position: relative;
		width: 100%;

		&::before{
			content: "";
			background-color: $violet;
			position: absolute;
			width: 12px;
			height: 3px;
			top: -9px;
			left: 0;
			z-index: 1;
		}
	}
}
footer{
	padding: 3rem 27px 1rem;
	display: flex;
	justify-content: end;

	a{
		color: #ffffff87;
		font-size: 15px;
		font-weight: 100;
		transition: color $trans;

		&:hover{
			color:$violetTwo;
			transition: color $trans;
		}
	}
}