//defolt elemnts
@import '_globals';
@import '_reset';

//globals elemnts
@import 'components/_nav';

//page styles
@import 'components/_main';
@import 'components/_education';
@import 'components/_fromPages';
